
    <!--contain-->
    <div class="container">
        <h1 class="text-center">Aquarius Characteristics</h1>
    </div>
    <br><br>
    <div class="container well span6">
        <div class="row">
            <div class="col-md-4">
                <img src="./images//task4/aquarius.jpg" class="img-circle">
            </div>

            <div class="col-md-8">
                <h3>Aquarius</h3>
                <h4>Strengths: <small>Progressive, original, independent, humanitarian</small></h4>
                <h4>Weaknesses: <small>Runs from emotional expression, temperamental, uncompromising, aloof</small></h4>
                <h4>Likes: <small>Fun with friends, helping others, fighting for causes, intellectual conversation, a
                        good listener</small></h4>
                <h4>Dislikes: <small>Limitations, broken promises, being lonely, dull or boring situations, people who
                        disagree with them</small></h4>
                <h4><small>Aquarius-born are shy and quiet , but on the other hand they can be eccentric and energetic.
                        However, in both cases, they are deep thinkers and highly intellectual people who love helping
                        others. They are able to see without prejudice, on both sides, which makes them people who can
                        easily solve problems.</small></h4>
            </div>
        </div>
    </div>
    <!--/contain-->
